body {
  background: rgba(30, 39, 46, 1);
  color: #fff;
  overflow: hidden;
  text-align: center;
}

h1 {
  display: block;
}

a {
  display: block;
  color: #fff;
  text-decoration: none !important;
  font-size: 2rem;
  font-weight: bold;
}
a:hover {
  color: #fff;
}

/* 
Sizing
desktop:1200px; //col-xl
laptop:1024px;  //col-lg
tablet:768px;  // col-md
phone:320px;  // col-sm
*/
